<div class="flex-content">
  <div class="topics">
    <app-topic-card
      *ngFor="let topic of topics"
      [topic]="topic"
    ></app-topic-card>
  </div>
  <aside class="side-content">
      <button class="create-button">Create Thread</button>
      <div class="header">Tags</div>
      <ul>
          <li (click) = "selectTag('')" [ngClass]="{'active':selectedTag===''}"> All</li>
          <li *ngFor="let tag of tags" [ngClass]="{'active':selectedTag===tag.permalink}" (click) = "selectTag(tag.permalink)">
              {{tag.name}}
          </li>
      </ul>
  </aside>
</div>
